@font-face {
    font-family: boldFont;
    src: url(./assets/font/Assistant-Bold.woff);
}

@font-face {
    font-family: RegularFont;
    src: url(./assets/font/Assistant-Regular.woff);
}

@font-face {
    font-family: semiBold;
    src: url(./assets/font/Assistant-SemiBold.woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RegularFont, sans-serif;
}

body {
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: boldFont, sans-serif;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 12px 50px;
    padding-right: 20px;

}

.icon_data {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon_data>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: black;
    text-decoration: none;
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F5F5F6;
    padding: 9px 12px;
    width: 58%;
    border-radius: 3px;
}

.search_bar svg {
    width: 20px;
    height: 20px;
    fill: gray;
    margin-right: 15px;

}

.head_category_heading img {
    width: 100%;
}

.hero_sec {
    width: 90%;
    margin: auto;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.product_detail_head_txt p {
    font-size: 14px;
    padding: 15px 0;
    word-spacing: 3px;
    font-weight: 100;
}

.product_detail_head_txt b {
    font-weight: bold;
}

.product_detail {
    width: 95%;
    margin: auto;
}

.mt_custom {
    margin-top: 6rem !important;
}

.search_bar>input {
    all: unset;
    color: gray;
    width: 100%;
    font-size: 14px;

}

.navbar_right {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: end;
    gap: 27px;
    padding-right: 15px;
}

.cat_nav {
    display: flex;
    gap: 37px;
    align-items: center;
}

.cat_nav button {
    all: unset;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.nav_item img {

    width: 50px
}

.icon_data>a>p {
    font-size: 12px;
    font-weight: 600;
}

.category_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.card_box {
    width: 157px;
    background: url("https://www.artstoreonline.com.au/cdn/shop/products/wn_artists_cadmium-free-yellow-deep_swatch_600x600.jpg?v=1650599017");
    /* background: linear-gradient(to bottom, #f7c942, #f18e1c);
    background-blend-mode: overlay; */
    padding: 5px 5px;
    text-decoration: none;
    color: inherit;

}

.hero_sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card_bottom_content {
    text-align: center;
}

.card_img_sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card_img_sec {
    height: 130px;
}

.banner_img_bootom img {
    width: 100%;
    padding: 20px;
}


.card_bottom_content h3 {
    font-size: 15px;
}

.card_bottom_content>span {
    font-size: 17px;
    font-weight: 700;
}

.card_bottom_content p {
    font-size: 12px;
    font-weight: 700;

}

.card_bottom_content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 9px 0;
    padding-bottom: 2px;
}

.product_sec_home h3 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 40px 0;
    font-family: boldFont, sans-serif !important;
    /* color: #FF3E6C; */
    /* color: #F25512; */
}

.footer {
    background-color: #FAFBFC;
    height: 100vh;


}

.product_img {
    width: 100%;
    height: 260px;
}

.product_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 82%;
    margin: auto;
    gap: 52px;
}

.product_card {
    text-decoration: none;
    color: initial;
    width: 220px;
    position: relative;
}

.product_card:hover {
    -webkit-box-shadow: 0 2px 16px 4px rgba(40, 44, 63, .07);
    box-shadow: 0 2px 16px 4px rgba(40, 44, 63, .07);
}

.price_card {
    display: flex;
    align-items: center;
    gap: 5px
}

.price_card span {
    display: flex;
}

.product_text {
    width: 100%;
    padding: 10px;
}

.price_card span p {
    color: #fff;
    font-weight: 500;
    position: absolute;
    font-size: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg_data {
    position: absolute;
    top: -1px;
    left: -1%;
}

.product_text h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product_text h5 {
    font-size: 14px;
    font-weight: 400;
    color: #535766;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.price_card span {
    font-size: 15px;
}

.product_detail_img_left_sec img {
    width: 350px;
    padding: 4px;
}

.product_detail_wrarpper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.product_detail_content h3 {
    font-size: 23px;
    font-weight: 900;
}

.product_detail_content {
    width: 75%;
}

.product_detail_content>p {
    /* font-size: 20px; */
    font-size: 17px;
    padding-bottom: 14px;
    padding-top: 5px;
    color: #757884;
}

.detail_amt span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #5E6170;
}

.detail_amt {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.detail_amt span b {
    font-size: 23px;
    color: black;
}

.svg_data_detail p {
    color: #FF905A;
}

.green {
    color: #03A685;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 10px;
}

.size_chart h4 {
    font-size: 15px;
}

.size_col {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.size_box {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 900;
}

hr {
    border: 1px solid #e7e7e7;
}

.btn {
    all: unset;
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 18px;
    align-items: center;

    justify-content: center;
    padding: 13px 7px;
}

.btn1 {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    width: 200px;
    border-radius: 5px;


}

.btn2 {
    border: 1px solid #d5d5d5;
    width: 150px;
}

.detail_btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.size_chart {
    padding: 30px 0;
}

.size_chart h4 {
    padding-bottom: 8px;
}

.desc {
    padding-top: 3rem;
}

.desc h4 {
    padding-bottom: 8px;
}

.desc p {
    font-size: 15px;
}

.dumy_dets h4 {
    color: #ff3f6c;
    font-size: 15px;
    padding: 10px 0;
}

.dumy_dets li {
    padding-top: 10px;
    font-size: 13px;
}

.dumy_dets b {
    font-size: 13px;
}

.all_product {
    width: 95%;
    margin: auto;
}

.all_product_head h4 {
    font-size: 15px;
    font-weight: 700;
}

.all_product_head h4 p {
    font-weight: 100;
    display: inline;
    font-size: 15px;
    color: #878b94;
}

.filter_head_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.filter_head_content select {
    padding: 8px 9px;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 0px 0px 11px #f1f1f199;
    border-radius: 6px;
}

.filter_head_content h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.wrapper_all_product_main_sec {
    display: flex;
    /* gap :15px; */
}

.wrapper_all_product_main_sec {}

.wrapper_all_product_right {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    border: 1px solid #F4F4F5;
    border-left: 0;
    padding: 15px;
    padding-left: 26px;
}

.wrapper_all_product_left {
    width: 200px;
    flex-shrink: 0;
    border: 1px solid #F4F4F5;



}

.filter_first {
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #F4F4F5;
}

.label_holder {

    padding: 6px 0;
    display: flex;
    gap: 8px;
    text-transform: capitalize;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "boldFont";
}

.label_holder input {
    width: 23px;
    height: 15px;
}

.filter_second {
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #F4F4F5;
}

.filter_first h4,
.filter_second_head {
    padding-bottom: 10px;
}

.nav_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #f5f5f6;
    box-shadow: unset;
    padding-right: 25px;

}

.nav_item_right {
    display: flex;
    align-items: center;
    gap: 8px;
    /* margin-right: 35px; */
    position: relative;
    right: 37px;

}

.nav_item_right img {
    width: 25px;
}

.nav_item_right p {
    text-transform: uppercase;
    color: #2c2e35;
    font-size: 12px;
    letter-spacing: 2px;

}

.nav_item_middle {
    display: flex;
    gap: 13px;
    font-size: 12px;
    letter-spacing: 1px;
    align-items: center;
    padding-left: 30px;

}

.nav_item_item {
    font-family: semiBold;
    line-height: 20px;
    letter-spacing: 2px;
    color: gray;

}

.Cartactive {
    /* color: #13cda8; */
    border-bottom: 2px solid #13cda8;
    font-weight: 600;
    color: rgb(32, 189, 153);
}

.cart_page {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
}

.cart_page_right {
    padding-left: 15px;
    border-left: 1px solid #f5f5f6;
    /* width: 30%; */
    width: 350px;
}
.cart_item_three p{
        text-transform: uppercase;
    font-size: 14px;
    color: gray;
}
.cart_page_top_one {
    padding: 10px;
    background-color: pink;
}

.cart_page_top_two {
    border: 1px solid #eaeaec;
    /* width: 700px; */
    border-radius: 3px;
}
.cart_calculation_sec small{
        position: relative;
    top: -9px;
    font-size: 10px;
    color: gray;
}


.cart_page_top_two {
    border: 1px solid #eaeaec;
    padding: 12px 20px;
    margin: 10px 5px;
}
.total_Calc h4,
.total_Calc p
 {
    font-weight: 700 !important;
}

.head_cart_page_two {
    display: flex;
    align-items: center;
    gap: 8px;
}

.head_p_cart span,
.head_toggle_div span {
    font-size: 13px;
    color: #282c3f;
    width: 95%;
    margin: auto;
}

/* .head_toggle_div span::first-letter{
    color: rgb(197, 197, 197);
} */

.head_toggle_div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.head_p_cart {
    padding: 10px 0;

    width: 95%;
    margin: auto;
    color: #282c3f;
}

.cart_toggle_btn_base_more {

    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ff3f6c;
    fill: #ff3f6c;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 94%;
    margin: auto
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.cart_toggle_btn_base_more span {
    cursor: pointer;
    font-weight: 800;
}

.head_cart_page_two h3 {
    font-size: 14px;
    color: #282c3f;
    font-weight: 700;
}

.head_cart_page_two svg {
    width: 19px;
}

.rotateTrue {
    transform: rotate(90deg)
}

.rotateFalse {
    transform: rotate(-90deg)
}

.cart_item_data {
    display: flex;
    gap: 15px;
}

.cart_item_data {
    display: flex;
    gap: 15px;
    padding: 10px;
    border: 1px solid #eaeaec;
    margin: 10px 5px
}

.cart_page_top_three_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cart_page_left {
    width: 50%;
}

.cart_page_left {
    width: 50%;
}

.cart_item_select {
    display: flex;
    align-items: center;
    gap: 15px;
}

.select_box select {
    /* all: unset; */
    border: none;
    padding: 2px 8px;
    background: #f5f5f6;
    color: #282c3f;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.cart_price {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 14px;
    padding: 6px 0;
}

.cart_price>div {
    font-weight: 700;
}

.cart_item_fake_price {
    color: gray;
    fill: gray;
}

.cart_item_discount {
    color: #f16565;
}

.cart_item_data_txt h4 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.cart_item_data_txt small {
    color: #94969f;
    font-weight: 100;
    font-size: 12px;
}

.cart_item_data_txt h5 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282c3f;
    font-weight: 100;
}

.cart_item_select {
    margin-top: 15px;
    margin-bottom: 6px;

}

.return_txt {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 9px 0;
    font-size: 13px;
    padding-bottom: 0;
}

.return_txt svg {
    height: 16px;
    width: 17px;
}

.cart_price>div {
    font-weight: 700;
}

.cart_item_data_img {
    width: 140px;
    flex-shrink: 0;
    height: 159px;
}

.cross svg {
    width: 11px;
}

.cart_item_data_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cart_item_page_three_box {
    height: 600px;
    overflow-y: scroll;
    padding: 15px;
}



.cart_item_page_three_box {
    height: 500px;
    overflow-y: scroll;
}

.cart_page_right_coupon>h3 {
    font-size: 12px;
    font-weight: 700;
    color: #535766;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.cart_page_right_coupon_apply {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaec;
}

.cart_page_donation h5 {
    margin: 14px 0;
    padding-bottom: 18px;
    color: #535766;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11.6px;
    letter-spacing: 0.3px;
}

.donation_inp {
    display: flex;
    gap: 18px;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 14px;
}

.donation_inp input {
    width: 15px;
}

.cart_icon_coupon {
    display: flex;
    gap: 22px;
}

.cart_icon_coupon h4 {
    font-size: 14px;
}

.cart_btn_coupon button {
    color: #FF3F6C;
    background: #fff;
    border: 1px solid #FF3F6C;
    padding: 5px 17px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 2px;
}

.btn_data button {
    margin-right: 10px;
    border: 1px solid #eaeaec;
    background: #fff;
    padding: 8px 19px;
    border-radius: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.btn_active {
    color: #ff3f71;
    border: 1px solid #ff3f71;
}

.cart_page_donation {
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 20px;
}

.cart_calculation_sec {
    padding: 10px;
}

.calc_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 14px;
}

.calc_head h3 {
    font-size: 12px;
    padding-bottom: 8px;
    color: #535766;
}

.calc_price h4 {
    font-weight: 100;
    color: #282C3F;
}
.calc_price p{
    font-weight: 100;
}

.green p{
    color:
        #03A685;
}
.theme{
    color: #FF3F6C;
}
.total_Calc{
        border-top: 1px solid #eaeaec;
            padding-top: 10px;

}
.btn_calc_amt button {
    /* margin: auto; */
    background: #ff3f71;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-top: 16px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
}