@font-face {
    font-family: boldFont;
    src: url(./assets/font/Assistant-Bold.woff);
}

@font-face {
    font-family: RegularFont;
    src: url(./assets/font/Assistant-Regular.woff);
}

@font-face {
    font-family: semiBold;
    src: url(./assets/font/Assistant-SemiBold.woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RegularFont, sans-serif;
}

body {
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: boldFont, sans-serif;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    padding: 12px 50px;
    padding-right: 20px;

}

.icon_data {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon_data>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: black;
    text-decoration: none;
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F5F5F6;
    padding: 9px 12px;
    width: 58%;
    border-radius: 3px;
}

.search_bar svg {
    width: 20px;
    height: 20px;
    fill: gray;
    margin-right: 15px;

}

.head_category_heading img {
    width: 100%;
}

.hero_sec {
    width: 90%;
    margin: auto;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.product_detail_head_txt p {
    font-size: 14px;
    padding: 15px 0;
    word-spacing: 3px;
    font-weight: 100;
}

.product_detail_head_txt b {
    font-weight: bold;
}

.product_detail {
    width: 95%;
    margin: auto;
}

.mt_custom {
    margin-top: 6rem !important;
}

.search_bar>input {
    all: unset;
    color: gray;
    width: 100%;
    font-size: 14px;

}

.navbar_right {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: end;
    gap: 27px;
    padding-right: 15px;
}

.cat_nav {
    display: flex;
    gap: 37px;
    align-items: center;
}

.cat_nav button {
    all: unset;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.nav_item img {

    width: 50px
}

.icon_data>a>p {
    font-size: 12px;
    font-weight: 600;
}

.category_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.card_box {
    width: 157px;
    background: url("https://www.artstoreonline.com.au/cdn/shop/products/wn_artists_cadmium-free-yellow-deep_swatch_600x600.jpg?v=1650599017");
    /* background: linear-gradient(to bottom, #f7c942, #f18e1c);
    background-blend-mode: overlay; */
    padding: 5px 5px;
    text-decoration: none;
    color: inherit;

}

.hero_sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card_bottom_content {
    text-align: center;
}

.card_img_sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card_img_sec {
    height: 130px;
}

.banner_img_bootom img {
    width: 100%;
    padding: 20px;
}


.card_bottom_content h3 {
    font-size: 15px;
}

.card_bottom_content>span {
    font-size: 17px;
    font-weight: 700;
}

.card_bottom_content p {
    font-size: 12px;
    font-weight: 700;

}

.card_bottom_content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 9px 0;
    padding-bottom: 2px;
}

.product_sec_home h3 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 40px 0;
    font-family: boldFont, sans-serif !important;
    /* color: #FF3E6C; */
    /* color: #F25512; */
}

.footer {
    background-color: #FAFBFC;
    height: 100vh;


}

.product_img {
    width: 100%;
    height: 260px;
}

.product_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 82%;
    margin: auto;
    gap: 52px;
}

.product_card {
    text-decoration: none;
    color: initial;
    width: 220px;
    position: relative;
}

.product_card:hover {
    -webkit-box-shadow: 0 2px 16px 4px rgba(40, 44, 63, .07);
    box-shadow: 0 2px 16px 4px rgba(40, 44, 63, .07);
}

.price_card {
    display: flex;
    align-items: center;
    gap: 5px
}

.price_card span {
    display: flex;
}

.product_text {
    width: 100%;
    padding: 10px;
}

.price_card span p {
    color: #fff;
    font-weight: 500;
    position: absolute;
    font-size: 11px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg_data {
    position: absolute;
    top: -1px;
    left: -1%;
}

.product_text h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product_text h5 {
    font-size: 14px;
    font-weight: 400;
    color: #535766;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.price_card span {
    font-size: 15px;
}

.product_detail_img_left_sec img {
    width: 350px;
    padding: 4px;
}

.product_detail_wrarpper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.product_detail_content h3 {
    font-size: 23px;
    font-weight: 900;
}

.product_detail_content {
    width: 75%;
}

.product_detail_content>p {
    /* font-size: 20px; */
    font-size: 17px;
    padding-bottom: 14px;
    padding-top: 5px;
    color: #757884;
}

.detail_amt span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #5E6170;
}

.detail_amt {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.detail_amt span b {
    font-size: 23px;
    color: black;
}

.svg_data_detail p {
    color: #FF905A;
}

.green {
    color: #03A685;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 10px;
}

.size_chart h4 {
    font-size: 15px;
}

.size_col {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.size_box {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 900;
}

hr {
    border: 1px solid #e7e7e7;
}

.btn {
    all: unset;
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 18px;
    align-items: center;

    justify-content: center;
    padding: 13px 7px;
}

.btn1 {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    width: 200px;
    border-radius: 5px;


}

.btn2 {
    border: 1px solid #d5d5d5;
    width: 150px;
}

.detail_btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.size_chart {
    padding: 30px 0;
}

.size_chart h4 {
    padding-bottom: 8px;
}

.desc {
    padding-top: 3rem;
}

.desc h4 {
    padding-bottom: 8px;
}

.desc p {
    font-size: 15px;
}

.dumy_dets h4 {
    color: #ff3f6c;
    font-size: 15px;
    padding: 10px 0;
}

.dumy_dets li {
    padding-top: 10px;
    font-size: 13px;
}

.dumy_dets b {
    font-size: 13px;
}

.all_product {
    width: 95%;
    margin: auto;
}

.all_product_head h4 {
    font-size: 15px;
    font-weight: 700;
}

.all_product_head h4 p {
    font-weight: 100;
    display: inline;
    font-size: 15px;
    color: #878b94;
}

.filter_head_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.filter_head_content select {
    padding: 8px 9px;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 0px 0px 11px #f1f1f199;
    border-radius: 6px;
}

.filter_head_content h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.wrapper_all_product_main_sec {
    display: flex;
    /* gap :15px; */
}

.wrapper_all_product_main_sec {}

.wrapper_all_product_right {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    border: 1px solid #F4F4F5;
    border-left: 0;
    padding: 15px;
    padding-left: 26px;
}

.wrapper_all_product_left {
    width: 200px;
    flex-shrink: 0;
    border: 1px solid #F4F4F5;



}

.filter_first {
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #F4F4F5;
}

.label_holder {

        padding: 6px 12px;
    display: flex;
    gap: 8px;
    text-transform: capitalize;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "boldFont";
        margin-bottom: 6px;
        cursor: pointer;
}

.label_holder input {
    width: 23px;
    height: 15px;
}

.hd_padding {
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #F4F4F5;
}


.filter_first h4,
.filter_second_head ,
.filter_third_head{
    padding-bottom: 10px;
}
.loader {
  width: 40px;
  height: 40px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3e6c;
  border-style: solid solid dotted;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 
.load {
    height: 100%;
    width: 100%;
    background: #8080806e;
    position: absolute;
    z-index: 1080;
    display: flex
;
    justify-content: center;
    align-items: center;
}

.nav_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #f5f5f6;
    box-shadow: unset;
    padding-right: 25px;

}

.nav_item_right {
    display: flex;
    align-items: center;
    gap: 8px;
    /* margin-right: 35px; */
    position: relative;
    right: 37px;

}

.nav_item_right img {
    width: 25px;
}

.nav_item_right p {
    text-transform: uppercase;
    color: #2c2e35;
    font-size: 12px;
    letter-spacing: 2px;

}

.nav_item_middle {
    display: flex;
    gap: 13px;
    font-size: 12px;
    letter-spacing: 1px;
    align-items: center;
    padding-left: 30px;

}

.nav_item_item {
    font-family: semiBold;
    line-height: 20px;
    letter-spacing: 2px;
    color: gray;

}

.Cartactive {
    /* color: #13cda8; */
    border-bottom: 2px solid #13cda8;
    font-weight: 600;
    color: rgb(32, 189, 153);
}

.cart_page {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
}

.cart_page_right {
    padding-left: 15px;
    border-left: 1px solid #f5f5f6;
    /* width: 30%; */
    width: 350px;
}
.cart_item_three p{
        text-transform: uppercase;
    font-size: 14px;
    color: gray;
}
.cart_page_top_one {
    padding: 10px;
    background-color: pink;
}

.cart_page_top_two {
    border: 1px solid #eaeaec;
    /* width: 700px; */
    border-radius: 3px;
}
.cart_calculation_sec small{
        position: relative;
    top: -9px;
    font-size: 10px;
    color: gray;
}


.cart_page_top_two {
    border: 1px solid #eaeaec;
    padding: 12px 20px;
    margin: 10px 5px;
}
.total_Calc h4,
.total_Calc p
 {
    font-weight: 700 !important;
}

.head_cart_page_two {
    display: flex;
    align-items: center;
    gap: 8px;
}

.head_p_cart span,
.head_toggle_div span {
    font-size: 13px;
    color: #282c3f;
    width: 95%;
    margin: auto;
}

/* .head_toggle_div span::first-letter{
    color: rgb(197, 197, 197);
} */

.head_toggle_div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.head_p_cart {
    padding: 10px 0;

    width: 95%;
    margin: auto;
    color: #282c3f;
}

.cart_toggle_btn_base_more {

    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ff3f6c;
    fill: #ff3f6c;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 94%;
    margin: auto
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.cart_toggle_btn_base_more span {
    cursor: pointer;
    font-weight: 800;
}

.head_cart_page_two h3 {
    font-size: 14px;
    color: #282c3f;
    font-weight: 700;
}

.head_cart_page_two svg {
    width: 19px;
}

.rotateTrue {
    transform: rotate(90deg)
}

.rotateFalse {
    transform: rotate(-90deg)
}

.cart_item_data {
    display: flex;
    gap: 15px;
}

.cart_item_data {
    display: flex;
    gap: 15px;
    padding: 10px;
    border: 1px solid #eaeaec;
    margin: 10px 5px
}

.cart_page_top_three_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cart_page_left {
    width: 50%;
}

.cart_page_left {
    width: 50%;
}

.cart_item_select {
    display: flex;
    align-items: center;
    gap: 15px;
}

.select_box select ,
.select_box p {
    /* all: unset; */
    border: none;
    padding: 2px 8px;
    background: #f5f5f6;
    color: #282c3f;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}
.cat_nav a {
    all: unset;
    cursor: pointer;
}
.cart_price {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 14px;
    padding: 6px 0;
}

.cart_price>div {
    font-weight: 700;
}

.cart_item_fake_price {
    color: gray;
    fill: gray;
}

.cart_item_discount {
    color: #f16565;
}

.cart_item_data_txt h4 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.cart_item_data_txt small {
    color: #94969f;
    font-weight: 100;
    font-size: 12px;
}

.cart_item_data_txt h5 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282c3f;
    font-weight: 100;
}

.cart_item_select {
    margin-top: 15px;
    margin-bottom: 6px;

}

.return_txt {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 9px 0;
    font-size: 13px;
    padding-bottom: 0;
}

.return_txt svg {
    height: 16px;
    width: 17px;
}

.cart_price>div {
    font-weight: 700;
}

.cart_item_data_img {
    width: 140px;
    flex-shrink: 0;
    height: 159px;
}

.cross svg {
    width: 11px;
}

.cart_item_data_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cart_item_page_three_box {
       max-height: 500px;
    overflow-y: scroll;
    min-height: fit-content;
}

.nothing_in_box {
    margin: 6rem 3rem;
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}



.nothing_in_box h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.nothing_in_box img{
    width: 200px;
}

.nothing_in_box button {
    /* padding: 10px 15px; */
    padding: 7px 15px;
    /* font-size: 23px; */
    font-size: 15px;
    /* margin-top: 37px; */
       background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    outline: none;
}

.cart_item_page_three_box {
    /* height: 500px; */
    overflow-y: scroll;
}

.cart_page_right_coupon>h3 {
    font-size: 12px;
    font-weight: 700;
    color: #535766;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.cart_page_right_coupon_apply {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaec;
}

.cart_page_donation h5 {
    margin: 14px 0;
    padding-bottom: 18px;
    color: #535766;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11.6px;
    letter-spacing: 0.3px;
}

.donation_inp {
    display: flex;
    gap: 18px;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 14px;
}

.donation_inp input {
    width: 15px;
}

.cart_icon_coupon {
    display: flex;
    gap: 22px;
}

.cart_icon_coupon h4 {
    font-size: 14px;
}

.cart_btn_coupon button {
    color: #FF3F6C;
    background: #fff;
    border: 1px solid #FF3F6C;
    padding: 5px 17px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 2px;
}

.btn_data button {
    margin-right: 10px;
    border: 1px solid #eaeaec;
    background: #fff;
    padding: 8px 19px;
    border-radius: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.btn_active {
    color: #ff3f71;
    border: 1px solid #ff3f71;
}

.cart_page_donation {
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 20px;
}

.cart_calculation_sec {
    padding: 10px;
}

.calc_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 14px;
}

.calc_head h3 {
    font-size: 12px;
    padding-bottom: 8px;
    color: #535766;
}

.calc_price h4 {
    font-weight: 100;
    color: #282C3F;
}
.calc_price p{
    font-weight: 100;
}

.green p{
    color:
        #03A685;
}
.theme{
    color: #FF3F6C;
}
.total_Calc{
        border-top: 1px solid #eaeaec;
            padding-top: 10px;

}
.btn_calc_amt button {
    /* margin: auto; */
    background: #ff3f71;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-top: 16px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
}


.size_holder:checked + label {
    border-color: #FF3E6C;
    background-color: #FFF0F5;
    color: #FF3E6C;
  }
  .size_holder{
    display: none;
  }
  .num {
    position: absolute;
    background: #ff3e6c;
    width: 13px;
    height: 13px;
    color: #fff;
    text-align: center;
    font-size: 9px;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    right: -38%;
    top: -15%;
    border-radius: 50%;
}
.hold{
    position: relative;
}
.liked{
    background-color: gray;
    color: #fff;
   
}
/* .liked svg{
 fill: red;
} */
.css-1xcmt9q-MuiSlider-thumb,
.css-r64h58-MuiSlider-rail{
        background-color: #ff3e6c !important;


}
.css-1xcmt9q-MuiSlider-thumb:hover, .css-1xcmt9q-MuiSlider-thumb.Mui-focusVisible,
.css-xvk2i-MuiSlider-track{
        border: 1px solid #ff3e6c !important;
        background-color: #ff3e6c !important;
}
.css-1xcmt9q-MuiSlider-thumb:hover, .css-1xcmt9q-MuiSlider-thumb.Mui-focusVisible{
         box-shadow: 0px 0px 0px 8px #ff3e6b1e !important;
}


.css-1xcmt9q-MuiSlider-thumb.Mui-active{
            box-shadow: 0px 0px 0px 8px #ff3e6b4f !important;

       
}
.label_holder img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.wrapper_all_product_right {
    width: 100%;
    position: relative;
        /* height: 167.4vh;
    overflow-y: scroll; */
}
.nothing{
    flex-direction: column;
}
.nothing img{
    margin-top: 5rem;
    width: 150px;
}
.nothing p{
    text-transform: uppercase;
    font-weight: 800;
}

.wrapper_all_product_right .load {
    background: #c4c4c412;
}
.label_holder input[type="radio"] {
  display: none;
}
.cat_active{
        background: #ff3e6c1a;
}
.filter_left a{
    color: inherit;
    text-decoration: none;
}


.btn_filter {
    display: flex;
    justify-content: space-between;
    padding: 6px 6px;
    padding-bottom: 5px;
}

.btn_filter button {
    /* all: unset; */
    padding: 3px 13px !important;
    font-size: 10px !important;
}
.btn_filter button:nth-child(1) {
        font-size: 10px !important;
    /* all: unset; */
    border: 1px solid #eeeeee;
    color: #000;
    border-radius: 4px;
    background: #dcdcdc;
    display: none;
    padding: 6px 10px !important;
}
.btn_filter button:nth-child(2) {
       background: #ff3e6c;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #d6d5d5;
}
input[type=checkbox] {
  accent-color: #ff3e6c;
}



@media screen and (max-width : 800px) {
    
    .product_detail_wrarpper{
        flex-wrap: wrap;
    }
    .product_detail_img_left_sec
 {
    display: flex
;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}
.product_detail_content{
    width: 100%;
    padding: 10px;
}
.cat_nav{
    display: none;
}
.navbar{
    padding: 12px 15px;
}
.search_bar{
    display: none;
}
.hero_sec{
    height: 100%;
}
 
.label_holder {
    padding: 6px 0px;

}
.filter_first,
.hd_padding {
    padding: 10px  12px;
}

.wrapper_all_product_left {
    width: 160px;

}
.btn_filter button:nth-child(1) {
    font-size: 7px !important;
    padding: 6px 5px !important;
}
.btn_filter button{
     font-size: 7px !important;
}
.wrapper_all_product_right{
        height: 82vh;
    overflow-y: scroll;
}
.wrapper_all_product_right{
    /* align-items: unset; */
}
.wrapper_all_product_right{
      /* display: inline; */
}
.cart_page{
     flex-wrap: wrap;
}
.cart_page_left{
    width: 100%;
}
.nav_item_middle{
    display: none;
}
.cart_page_right{
    width: 95%;
    margin: auto;
    padding: 5px;
}
}



@media screen and (max-width: 500px) {
    .wrapper_all_product_main_sec {

    margin-bottom: 4rem;
}
    .product_wrapper {
    display: flex
;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 12px;
    justify-content: center;
}
    .filter_first, .hd_padding {
        padding: 10px 4px;
    }
    .btn_filter {
    padding: 6px 0px;
            margin-left: 10px;
    }
        .btn_filter button {
        font-size: 9px !important;
    }
    .btn_filter button:nth-child(1){
        font-size: 9px !important;
    }
.wrapper_all_product_right {
    justify-content: center;
}
.cart_calculation_sec {
    padding: 10px;
    margin-bottom: 4rem;
}
     .wrapper_all_product_right .product_card {
        width: 38.3vw;
    }
    .wrapper_all_product_right{
            padding: 10px 0 !important;
                gap: 5px;

    }
   .wrapper_all_product_right .product_text{
        padding: 10px 0;
    }
.product_card
 {
    width: 45%;
 }

 .product_wrapper {
    width: 95%;
    gap: 16px;
}
    .search_bar {
        display: flex
;
        width: 100%;
        /* margin-right: 61px; */
    }
 .product_img {
    height: 190px;
}
.search_bar svg {
    margin: 0;
}
.search_bar>input {
    /* display: none; */
}
.navbar{
    justify-content: space-between;
}
.banner_img_bootom img {
    padding: 0px;
    margin-bottom: 4rem;
}
    .hero_sec {
        width: 100%;
    }
    .card_box {
    width: 45%;
    }
    .category_div {
    gap: 13px;
    width: 95%;
    }
.footer{
    display: none;
}
.navbar_right {
               padding: 0;
        width: 69%;
        justify-content: unset;
        position: relative;
        left: -13%;
}
.icon_data a:nth-child(1){
        position: fixed;
    top: 2%;
    right: 17px;
}
.icon_data a:nth-child(1) svg{
             width: 16px;
        height: 16px;
}
.nothing{
    
    justify-content: start !important;
}
.hold svg{
        height: 23px;
    width: 20px;
}
.icon_data>a{
    gap: 0;
}
.icon_data a:nth-child(1) p{
    /* display: none; */
}
.label_holder {
        padding: 5px 7px;
        flex-direction: column;
}
    .wrapper_all_product_left {
        width: 87px;
        padding: 5px;
                overflow-y: scroll;
        height: 82vh;
    }
.label_holder label {
    font-size: 13px;
    text-align: center;
}
.label_holder img {
    width: 25px;
    height: 25px;
}
.wrapper_all_product_right::-webkit-scrollbar{
    display: none;
}
.all_product{
    width: 100%;
}
.icon_data {
    position: fixed;
    background: #fff;
    padding: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
    justify-content: space-around;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .05);
}
.head_category_heading img {
    width: 100%;
    margin: 16px 0;
}.cart_calculation_sec {
    margin-bottom: 4rem;
}
.btn_calc_amt{
        position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    left: 0;
    /* display: flex
; */
    /* padding: 10px; */
}
.btn_calc_amt button{
    margin-top: 0;
        padding: 17px;
}
.product_detail_head_txt{
    display: none;
}
.price_card_detail_page{
    margin-bottom: 4rem;
}
.product_sec_home h3 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding:16px 0;
}
    .wrapper_all_product_right .product_img {
        height: 184px;

    }
   .wrapper_all_product_right .product_text h4
 {
    font-size: 12px;
 }
 .wrapper_all_product_right .product_text h5 {
    font-size: 12px;
 }
.wrapper_all_product_right  .price_card span
 {
    font-size: 11px;}
}